body{
background:#f4f7ff;
font-family:Arial;
}

.login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-card{
width:100%;
max-width:400px;
padding:30px;
border-radius:20px;
}

.dashboard-card{
padding:20px;
text-align:center;
border-radius:15px;
}

.dashboard-card h5{
font-size:18px;
}

.dashboard-card p{
font-size:25px;
font-weight:bold;
color:#0d6efd;
}

table{
background:white;
}

img{
max-width:100%;
border-radius:10px;
}
